<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rate us!</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

  </head>
  <body>
<html>
  <body>
  	<div class="container">
        <center><h1>Rate us!</h1><center>
    <form method="post" action ="">
	<input type="radio" name="rating" value="One">
	<br>
	<img width= 310 height= 70 src=https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/1_stars.svg/2000px-1_stars.svg.png>
	<br>
	<input type="radio" name="rating" value="Two">
	<br>
	<img width= 310 height= 70 src=https://upload.wikimedia.org/wikipedia/commons/thumb/8/88/2_stars.svg/535px-2_stars.svg.png>
	<br>
	<input type="radio" name="rating" value="Three">
	<br>
	<img width= 300 height= 100 src=https://upload.wikimedia.org/wikipedia/commons/4/4e/3_stars.svg>
	<br>
	<input type="radio" name="rating" value="Four">
	<br>
	<img width= 300 height= 70 src=http://mranderson.info/images/emoji/emoji-star-4.png>
	<br>
	<input type="radio" name="rating" value="Five">
	<br>
	<img width= 320 height= 100 src=https://d1a6a9r46cnyll.cloudfront.net/a663ad43f1e5ba9cb2b21118b0a1cd73cd0f7dc6/687474703a2f2f7765627468656761702e636f6d2f696d616765732f73746172732e706e67>
   <p><input type="submit" value="Submit"></p>
   <input type="button" value="Go Back From Whence You Came!" onclick="history.back(-1)"/>
 </form>
  </body>

<style>

h1 {
text-align: center;
color: Silver;
font-family: "Georgia", serif;
font-size: 35px;
text-shadow: 2px 2px 10px #000000;
}
body {
text-align: center;
background-image: url("http://eskipaper.com/images/background-image-5.jpg");
background-size: 1500px 1000px;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

}

div {
color: Silver;
}
</style>


</html>
